.property-view-container {
    position: relative;
    padding-bottom: 150px;
}

textarea {
    max-width: 100%;
    min-height: 150px;
}

em,
i {
    font-size: 1.8rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.call-to-actions--top .rent-now {
    margin-bottom: 10px;
}

.call-to-actions--top {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5%;
    z-index: 10;
    box-shadow: inset 1px 1px 3px #999;
    width: 350px;
}

.stat {
    height: 133px;
}

.ver-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.callout {
    padding: .5rem !important;
}

@media (min-width: 1025px) {
    .marg-top {
        margin-top: 40px;
    }
    .marg-btm {
        margin-bottom: 40px;
    }
}

@media (max-width: 1024px) {
    .call-to-actions--top {
        width: 300px;
    }
    .marg-top {
        margin-top: 20px;
    }
    .marg-btm {
        margin-bottom: 20px;
    }
}

@media (max-width: 640px) {
    .marg-top {
        margin-top: 20px;
    }
    .callout-bottom {
        border-radius: 5%;
        box-shadow: inset 1px 1px 3px #999;
        background: #fff;
    }
    .sticky-actions {
        position: fixed;
        bottom: 40px;
        left: 5px;
        right: 5px;
        z-index: 20;

        .column {
            padding: 0;
        }
    }
    .stat {
        font-size: 2.1rem;
    }
}

.white {
    background: #fff;
}