.property-view-container {
    position: relative;
}

textarea {
    max-width: 100%;
    min-height: 150px;
}

.call-to-actions--top .rent-now {
    margin-bottom: 10px;
}

.call-to-actions--top {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5%;
    z-index: 10;
    box-shadow: inset 1px 1px 3px #999;
    width: 350px;
}

.stat i {
    font-size: 1.2em;
}

.callout {
    padding: .5rem !important;
}

@media (max-width: 1024px) {
    .call-to-actions--top {
        width: 300px;
    }
}

@media (max-width: 640px) {
    .callout-bottom {
        border-radius: 5%;
        box-shadow: inset 1px 1px 3px #999;
        background: #fff;
    }
    .sticky-actions {
        position: fixed;
        bottom: 40px;
        left: 5px;
        right: 5px;
        z-index: 20;

        .column {
            padding: 0;
        }
    }
    .stat {
        font-size: 2.1rem;
    }
}

.padding {
    padding: 10px 0;
}