<div class="property-view-container">
    <div *ngIf="(actionState$ | async)?.text" stick class="callout hide-for-small-only call-to-actions--top property-actions-group-top">
        <property-actions-group (submit)="updatePropertyAndActionState(propEdit.property)" [actionState]="actionState$ | async" (shareFacebook)="shareFacebook()"
            [tweetText]="tweetText"></property-actions-group>
    </div>
    <property-images [images]="property.images" [interval]="6500" *ngIf="property?.images"></property-images>
    <div class="row">
        <div class="small-12 medium-11 large-9 columns small-centered padding">
            <div *ngIf="!(isEditing$ | async)" class="callout-card">
                <div class="callout-card-content">
                    <div class="row column">
                        <div class="column padding large-5 small-text-center large-text-left">
                            <h3>{{property?.address1}}</h3>
                            <h3 *ngIf="property?.address2">{{property?.address2}}</h3>
                        </div>
                        <div class="column padding large-2 medium-3 small-6 stat text-center">
                            <span><i class="icon-bed"></i></span>
                            <span>{{property?.bedrooms}}</span>
                        </div>
                        <div class="column padding large-2 medium-3 small-6 stat text-center">
                            <span><i class="icon-shower"></i></span>
                            <span>{{property?.bathrooms}}</span>
                        </div>
                        <div class="column padding large-3 medium-6 text-center">
                            <div><span class="stat">{{property?.price | currency:'USD':true}}</span><small>/mo</small></div>
                            <div><small *ngIf="property?.lease_length">{{property?.lease_length}} months</small></div>
                        </div>
                        <hr />
                    </div>
                    <div class="row column padding small-9 small-centered">
                        <div class="column padding">
                            <property-amenities *ngIf="property?.amenities?.length" [(amenities)]="property.amenities" [isEditing]="false"></property-amenities>
                        </div>
                    </div>
                    <div class="row column padding small-11 small-centered">
                        <div class="column">
                            <p>{{property?.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset class="fieldset" [hidden]="!(isEditing$ | async)">
                <legend>
                    <h3>{{property.address1}}</h3>
                    <h3 *ngIf="property.address2">{{property.address2}}</h3>
                </legend>
                <property-edit #propEdit [property]="property" (submit)="updatePropertyAndActionState(property)"></property-edit>
            </fieldset>
        </div>
    </div>
    <div *ngIf="(actionState$ | async)?.text" class="row show-for-small-only callout-bottom sticky-actions">
        <div class="column">
            <property-actions-group (submit)="updatePropertyAndActionState(propEdit.property)" [actionState]="actionState$ | async"
                (shareFacebook)="shareFacebook()" [tweetText]="tweetText"></property-actions-group>
        </div>
    </div>
    <property-map *ngIf="mapOptions" [properties]="[property]" [mapOptions]="mapOptions"></property-map>
</div>
<rent-now [owner]="property.owner" id="RentNow" class="reveal small" data-reveal></rent-now>