<div class="row flex-row">
	<div class="flex-row column medium-6" *ngIf="!myReview.id && !isEditing">
		<div class="callout-card">
			<div class="callout-card-content text-center" (click)="isEditing = true">
				<h3 class="upper-case">Have you stayed here?</h3>
				<h5 class="upper-case">We encourage you to leave a review about your experience</h5>

				<i class="fa fa-plus jumbo"></i>
			</div>
		</div>
	</div>
	<div class="column medium-6" *ngIf="!myReview.id && !otherReviews.length && !isEditing">
		<div class="callout-card">
			<div class="callout-card-content">
				<h1>awkward ad filler that we show if we don't have any reviews</h1>
			</div>
		</div>
	</div>
	<div class="column small-12" *ngIf="isEditing">
		<editable-review [review]="myReview" (save)="save($event)" (cancel)="isEditing = false; showError = false"></editable-review>
		<div class="callout alert" *ngIf="showError">
			<h3>Uh oh! Something went wrong!</h3>

			<p>
				We had a problem saving your review. Please try again
			</p>
		</div>
	</div>
	<div class="flex-row column medium-6" *ngFor="let review of otherReviews">
		<div class="callout-card">
			<div class="callout-card-content">
				<star-rating [rating]="review.property_rating"></star-rating>

				<!--What about landlord_rating?-->
				<h6>{{review.title}}</h6>

				<blockquote>
					<p>{{review.body}}</p>
					<footer>
						<!--or anonymous monkey-->
						<cite>User mcUser-muffin, tenant for {{review.duration}} months</cite>
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
</div>