$primary: #446CB3;
$secondary: #e6e6e6;
$info: #89c4f4;
$alert: #F22613;
$success: #87D37C;
$warning: #F89406;
$bg: #fff;
$font-color: #333;
#faq {
    max-width: 1200px;
    margin: 0px auto;
    .columns {
        margin-bottom: 50px;
    }
}
.callout-card {
    background: $secondary;
    border: 1px solid #333;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
    overflow: hidden;
    .card-label {
        border-color: transparent #333 transparent transparent;
        border-color: rgba(255, 255, 255, 0) #333 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    .card-label {
        border-style: solid;
        border-width: 0 70px 40px 0;
        float: right;
        height: 0px;
        width: 0px;
        transform: rotate(360deg);
    }
    .callout-card-content {
        padding: 0.5rem 1.5rem 0.875rem;
    }
    &.radius {
        border-radius: 0.6rem;
    }
    .label-text {
        color: #fff;
        font-size: 0.75rem;
        font-weight: bold;
        position: relative;
        right: -40px;
        top: 2px;
        white-space: nowrap;
        transform: rotate(30deg);
    }
    .callout-card-content {
        padding: 20px;
        background-color: $secondary;
        p {
            margin-left: 20px;
        }
        li {
            margin-left: 40px;
        }
    }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .callout-card {
        margin: 10px;
        .callout-card-content {
            padding: 6px;
            p {
                margin-left: 7px;
            }
            li {
                margin-left: 14px;
            }
        }
    }
}
@media screen and (max-width: 39.9375em) {
    .callout-card {
        margin: 5px;
        .callout-card-content {
            padding: 4px;
            p {
                margin-left: 5px;
            }
            li {
                margin-left: 10px;
            }
        }
    }
}