footer {
    padding: .5rem !important;
    background-color: #44254a;
}

a {
    color: #f1f1f1;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    margin-right: 20px;
}

a:hover{
    color: #fff;
    text-decoration: underline;
}

img {
    width: 150px;
}

.heading {
    color: #fff;
    margin: 10px 0;
    display: inline-block;
}