footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5rem !important;
    background-color: #44254a;
    text-align: center;
    height: 40px;
}
a {
    color: #fefefe;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    margin-right: 20px;
}
a:hover{
    color: lightgrey!important;
    
}