<h2>Payment Details</h2>

<form id="PaymentForm" [formGroup]="paymentForm" *ngIf="paymentForm" (ngSubmit)="submit()" autocomplete="on" [hidden]="success">
  <fieldset class="fieldset">
    <legend><strong>Step #1:</strong> Account Information</legend>
    <div class="form-group row collapse">
      <div class="small-12  columns">
        <label>Full Name
              <input type="text" placeholder="Johny Smith" formControlName="name" class="form-control" autocomplete="cc-name">
              </label>
      </div>
      <control-messages [control]="paymentForm.controls.name" class="alert"></control-messages>
    </div>
    <div class="form-group row collapse">
      <div class="small-12  columns">
        <label>Phone Number
              <input type="tel" placeholder="(573)-111-2222" formControlName="phone" class="form-control" autocomplete="tel">
              </label>
      </div>

      <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="In the unlikely event there is a problem with your payment, we will contact you with the number provided so you don't miss a rent payment. ">
        Why do we ask this?
        </span>
      <control-messages [control]="paymentForm.controls.phone" class="alert"></control-messages>
    </div>

    <section *ngIf="hasAuth === false">
      <div class="form-group row collapse">
        <div class="small-12  columns">
          <label>Email Address
              <input type="text" placeholder="name@email.com" formControlName="email" class="form-control" autocomplete="email">
              </label>
        </div>
        <control-messages [control]="paymentForm.controls.email" class="alert"></control-messages>
      </div>
      <div class="form-group row collapse">
        <div class="small-12  columns">
          <label>Password
              <input type="password" formControlName="password" class="form-control" autocomplete="new-password">
              </label>
        </div>
        <control-messages [control]="paymentForm.controls.password" class="alert"></control-messages>
      </div>
      <div class="form-group row collapse">
        <div class="small-12  columns">
          <label>Confirm Password
              <input type="password" formControlName="confirmPassword" class="form-control" autocomplete="new-password">
              </label>
        </div>
        <control-messages [control]="paymentForm.controls.confirmPassword" class="alert">{{getConfirmPasswordMatchMessage()}}</control-messages>
      </div>
    </section>

  </fieldset>

  <fieldset class="fieldset">
    <legend><strong>Step #2:</strong> Rental Information</legend>
    <div class="form-group row collapse">
      <div class="small-12  columns">
        <label>Rent Due Date
              <number-ticker name="dueOn" [(number)]="dueOn" [min]="1" [max]="31"></number-ticker>
              </label>
      </div>
    </div>
    <div class="form-group row collapse">
      <div class="small-12  columns">
        <label>Rent Price
              <input type="number" placeholder="975.00" formControlName="subtotal" class="form-control" min="25" max="999999999.99" step="any">
              </label>
      </div>
      <control-messages [control]="paymentForm.controls.subtotal" class="alert"></control-messages>
    </div>
    <div class="form-group row collapse">
      <div class="small-12  columns">
        <label>Rental Unit
              <input type="text" placeholder="Apt #3" formControlName="unit" class="form-control">
              </label>
      </div>
      <control-messages [control]="paymentForm.controls.unit" class="alert"></control-messages>
    </div>
  </fieldset>

  <p class="text-center">
    <button type="submit" class="button large" [attr.disabled]="!paymentForm.valid ? true : null">{{hasAuth ? 'Continue to Payment' : 'Create an Account'}}</button>
  </p>

  <p class="text-center" *ngIf="!success && !hasAuth">Already have an account? <a data-open="LoginModal">Login here</a>
</form>

<div *ngIf="success && serverErrors.length === 0 && !hasAuth" class="callout success">
  <h5>Welcome to Roomhere {{paymentForm.controls.name.value}}!</h5>
  <p>
    Before we can make a payment, we need to test out your email address (<strong>{{paymentForm.controls.email.value}}</strong>).
    Please check for a magic confirmation link in your inbox
  </p>
</div>
<div *ngIf="serverErrors.length && !success" class="callout alert">
  <h4>Uh oh! We had a problem creating your account.</h4>
  <span *ngFor="let error of serverErrors">{{error}}. </span>
</div>
<div *ngIf="paymentErrors.length && !success" class="callout alert">
  <h4>Uh oh! We had a problem creating your payment request.</h4>
  <span *ngFor="let error of paymentErrors">{{error}}. </span>
</div>