input[type="number"] {
    -moz-appearance: textfield;
}

.fa-minus,
.fa-plus {
    font-size: .8rem;
    padding: 2px;
}

.fa-plus:hover {
    color: #DAA520;
}

.fa-minus:hover {
    color: #DAA520;
}

.fa{
    vertical-align: middle;
    display: inline !important;
}

input {
    border: none;
    box-shadow: none;
    background: #f5f5f5;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
}

.number-ticker {
    border: 2px solid #EEE;
}

button:focus,
input:focus {
    outline: none;
}

button {
    height: 100%;
    width: 100%;
}

.purp {
    background: #44254a;
    color: #fff;
}

.purp:hover {
    background: #391940;
    color: #fff;
}

@media (max-width: 480px) {
    .number-ticker {
        border: 1px solid #EEE !important;
    }
}