<div class="row flex-row collapse purp number-ticker">
  <div class="small-2 text-center columns button-wrapper">
    <button type="button" (click)="increment($event, -1)"><i class="fa fa-minus"></i></button>
  </div>
  <div class="small-8 text-center columns">
    <input type="number" pattern="[0-9]*" inputmode="numeric" value="{{number}}" min="{{min}}" max="{{max}}" (change)="number = $event.target.value; increment($event, 0)"
    />
  </div>
  <div class="small-2 text-center columns last button-wrapper">
    <button type="button" (click)="increment($event, 1)"><i class="fa fa-plus"></i></button>
  </div>
</div>