.non-active {
  opacity: .35
}

.amenity {
  padding: 3px 0;
}

.amen-label {
  position: relative;
  bottom: 5px;
}

.strike {
  text-decoration: line-through;
}

@media screen and (max-width: 480px) {
  .amenity-size {
    font-size: 80%;
  }
}
