<div class="row">
  <div [class.hide]="showMore || isEditing" *ngFor="let amen of featuredAmenities" class="column small-12 ">
    <span><i class="large {{amen.icon}}"></i> {{amen.name}}</span>
  </div>

  <div class="column small-12 medium-6" [class.hide]="showMore"><a (click)="showMore = true">more +</a></div>

  <div [class.hide]="!showMore && !isEditing" *ngFor="let amen of amenities" class="column small-12 medium-6">
    <span *ngIf="!isEditing" [class.strike]="!amen.active"><i *ngIf="amen.active" class="large {{amen.icon}}"></i> {{amen.name}}</span>
    <span *ngIf="isEditing">
          <input type="checkbox" [checked]="amen.active" (change)="update(amen, $event)" />
        {{amen.name}}</span>
  </div>
</div>