<!--<meta property="og:title" content="<%= @property.address1 %>" />
<meta property="og:type" content="website" />
<meta property="og:description" content="<%= truncate(@property.description, length: 160) %>" />
<meta property="og:url" content="<%= property_url(@property) %>" />-->
<!--<meta property="og:image" content="<%= @property.main_image.url %>" />-->

<div class="property-view-container">
  <div class="callout call-to-actions--top">
    <a class="button small expanded rent-now" href="#">Rent Now</a>
    <div class="secondary expanded button-group">
      <a class="button"><i class="fa fa-facebook"></i></a>
      <a class="button"><i class="fa fa-twitter"></i></a>
      <a class="button"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
  <property-images [images]="property?.images" *ngIf="property?.images"></property-images>
  <div class="row">
    <section class="small-11 medium-9 columns small-centered">
      <div class="row">
        <div class="medium-6 column callout">
          <property-map [properties]="[property]"></property-map>
        </div>
        <div class="medium-6 column">
          <div class="row">
            <div class="callout column small-3">{{property?.bedrooms}} <i class="fa fa-bed"></i></div>
            <div class="callout column small-3">{{property?.bathrooms}} <i class="fa fa-paw"></i></div>
            <div class="callout column small-6">${{property?.price}}, Lease: {{property?.lease_length}} months</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <hr>
          <ul class="tabs" data-tabs="" id="example-tabs">
            <li class="tabs-title is-active">
              <a aria-selected="true" href="#panel1">Reviews</a>
            </li>
            <li class="tabs-title">
              <a href="#panel2">Similar Rentals</a>
            </li>
          </ul>
          <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
              <property-reviews [property]="property"></property-reviews>
              <div class="tabs-panel" id="panel2">
                <div class="row medium-up-3 large-up-5">
                  <similar-properties [property]="property"></similar-properties>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>