<form (ngSubmit)="save()" #propertyForm="ngForm">
  <div class="form-group">
    <label for="address1">Address1</label>
    <input type="text" class="form-control" id="address1" required [(ngModel)]="property.address1" name="address1" #address1="ngModel">
    <div [attr.hidden]="address1.valid || address1.pristine" class="alert alert-danger">
      Address1 is required
    </div>
  </div>
  <div class="form-group">
    <label for="address2">address2</label>
    <input type="text" class="form-control" id="address2" required [(ngModel)]="property.address2" name="address2" #address2="ngModel">
    <div [attr.hidden]="address2.valid || address2.pristine" class="alert alert-danger">
      address2 is required
    </div>
  </div>
  <div class="form-group">
    <label for="bedrooms">bedrooms</label>
    <input type="text" class="form-control" id="bedrooms" required [(ngModel)]="property.bedrooms" name="bedrooms" #bedrooms="ngModel">
    <div [attr.hidden]="bedrooms.valid || bedrooms.pristine" class="alert alert-danger">
      bedrooms is required
    </div>
  </div>
  <div class="form-group">
    <label for="bathrooms">bathrooms</label>
    <input type="text" class="form-control" id="bathrooms" required [(ngModel)]="property.bathrooms" name="bathrooms" #bathrooms="ngModel">
    <div [attr.hidden]="bathrooms.valid || bathrooms.pristine" class="alert alert-danger">
      bathrooms is required
    </div>
  </div>
  <div class="form-group">
    <label for="contact_email">contact_email</label>
    <input type="text" class="form-control" id="contact_email" required [(ngModel)]="property.contact_email" name="contact_email"
      #contact_email="ngModel">
    <div [attr.hidden]="contact_email.valid || contact_email.pristine" class="alert alert-danger">
      contact_email is required
    </div>
  </div>
  <div class="form-group">
    <label for="description">description</label>
    <input type="text" class="form-control" id="description" required [(ngModel)]="property.description" name="description" #description="ngModel">
    <div [attr.hidden]="description.valid || description.pristine" class="alert alert-danger">
      description is required
    </div>
  </div>
  <div class="form-group">
    <label for="zipcode">zipcode</label>
    <input type="text" class="form-control" id="zipcode" required [(ngModel)]="property.zipcode" name="zipcode" #zipcode="ngModel">
    <div [attr.hidden]="zipcode.valid || zipcode.pristine" class="alert alert-danger">
      zipcode is required
    </div>
  </div>
  <div class="form-group">
    <label for="price">price</label>
    <input type="text" class="form-control" id="price" required [(ngModel)]="property.price" name="price" #price="ngModel">
    <div [attr.hidden]="price.valid || price.pristine" class="alert alert-danger">
      price is required
    </div>
  </div>
  <button type="submit" class="btn btn-default" [attr.disabled]="!propertyForm.form.valid">Save</button>
</form>