<!--<meta property="og:title" content="<%= @property.address1 %>" />
<meta property="og:type" content="website" />
<meta property="og:description" content="<%= truncate(@property.description, length: 160) %>" />
<meta property="og:url" content="<%= property_url(@property) %>" />-->
<!--<meta property="og:image" content="<%= @property.main_image.url %>" />-->

<div class="property-view-container">
  <div class="callout call-to-actions--top">
    <a class="button expanded large rent-now" (click)="doPropertyAction(propertyActionState.state)">{{isEditing ? 'Update Property' : propertyActionState?.text}}</a>
    <div class="secondary expanded button-group">
      <a class="button"><i class="large icon-facebook"></i></a>
      <a class="button"><i class="large icon-twitter"></i></a>
      <a class="button"><i class="large icon-instagram"></i></a>
    </div>
  </div>
  <property-images [images]="property?.images" *ngIf="property?.images"></property-images>
  <div class="row">
    <section class="small-11 medium-9 columns small-centered">
      <div class="row flex-row">
        <div *ngIf="!isEditing">
          <div class="medium-5 column callout show-for-medium">
            <property-map *ngIf="mapOptions" [properties]="[property]" [mapOptions]="mapOptions"></property-map>
          </div>
          <div class="callout column small-3 medium-2 stat text-center">
            <div><i class="icon-bed"></i></div>
            {{property?.bedrooms}}
          </div>
          <div class="callout column small-3 medium-2 stat text-center">
            <div><i class="icon-paw"></i></div>
            {{property?.bathrooms}}
          </div>
          <div class="callout column small-6 medium-3 text-center">
            <div><span class="stat">{{property?.price | currency:'USD':true}}</span><small>/month</small></div>
            <small *ngIf="property?.lease_length">Lease: {{property?.lease_length}} months</small>
          </div>
        </div>
        <div *ngIf="isEditing" class="column small-12">
          <div class="row">
            <div class="column small-6">
              <div class="row flex-row">
                <div class="small-3 columns">
                  <label for="bedrooms" class="text-right middle"><i class="icon-bed"></i></label>
                </div>
                <div class="small-9 columns">
                  <label><small>Bedrooms</small>
                <number-ticker name="bedrooms" [(number)]="property.bedrooms" [min]="1" [max]="16"></number-ticker>
              </label>
                </div>
                <div class="small-3 columns">
                  <label for="bathrooms" class="text-right middle"><i class="icon-bed"></i></label>
                </div>
                <div class="small-9 columns">
                  <label><small>bathrooms</small>
                <number-ticker name="bathrooms" [(number)]="property.bathrooms" [min]="1" [max]="16"></number-ticker>
              </label>
                </div>
              </div>
            </div>
            <div class="column small-6">
              <div class="input-group">
                <span class="input-group-label">$</span>
                <input class="input-group-field" type="number" [(ngModel)]="property.price" />
              </div>
              <div> Lease Length:
                <number-ticker [(number)]="property.lease_length" [min]="0" [max]="120"></number-ticker> (months)</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column medium-6">
          <h3>{{property?.address1}}</h3>
          <h3 *ngIf="property?.address2">{{property?.address2}}</h3>

          <div *ngIf="!isEditing">
            <p>{{property?.description}}</p>
          </div>

          <div *ngIf="isEditing">
            Description:
            <textarea [(ngModel)]="property.description"></textarea>
          </div>
        </div>
        <div class="column medium-6">
          <property-amenities *ngIf="property?.amenities" [amenities]="property.amenities"></property-amenities>
        </div>
        <!--<div class="column">
          <hr>
          <ul class="tabs" data-tabs="" id="example-tabs">
            <li class="tabs-title is-active">
              <a aria-selected="true" href="#panel1">Reviews</a>
            </li>
            <li class="tabs-title">
              <a href="#panel2">Similar Rentals</a>
            </li>
          </ul>
          <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
              <property-reviews [property]="property"></property-reviews>
              <div class="tabs-panel" id="panel2">
                <div class="row medium-up-3 large-up-5">
                  <similar-properties [property]="property"></similar-properties>
                </div>
              </div>
            </div>
          </div>
        </div>-->
        <div class="column hide-for-medium">
          <property-map *ngIf="mapOptions" [properties]="[property]" [mapOptions]="mapOptions"></property-map>
        </div>
      </div>
    </section>
  </div>
</div>