<div class="wrapper">
  <button class="button hollow" type="button" (click)="toggleShowFilters()">Filters</button>
  <div *ngIf="showFilters" class="dropdown-pane large">
    <button class="close-button" aria-label="Close" type="button" (click)="toggleShowFilters()">
      <span aria-hidden="true">&times;</span>
    </button>
    <form class="ext-head-room">
      <div class="row">
        <div class="small-12 large-2 columns">
          <p class="amenity-type">Rental Type:</p>
        </div>
        <div class="small-12 large-10 columns">
          <div class="input-group button-group secondary">
            <div class="row">
              <div class="column">
                <div class="filter-buttons column large-3 small-6"><a class="button expanded" [ngClass]="{selected: facet.types.indexOf('apartment') !== -1}" (click)="toggleType('apartment')">Apartment</a></div>
                <div class="filter-buttons column large-3 small-6"><a class="button expanded" [ngClass]="{selected: facet.types.indexOf('home') !== -1}" (click)="toggleType('home')">Home</a></div>
                <div class="filter-buttons column large-3 small-6"><a class="button expanded" [ngClass]="{selected: facet.types.indexOf('duplex') !== -1}" (click)="toggleType('duplex')">Duplex</a></div>
                <div class="filter-buttons column large-3 small-6"><a class="button expanded" [ngClass]="{selected: facet.types.indexOf('townhouse') !== -1}" (click)="toggleType('townhouse')">Townhouse</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-2 columns">
          <p class="amenity-type">Bedrooms:</p>
        </div>
        <div class="small-12 large-10 columns">
          <div class="input-group button-group secondary">
            <div class="row flex-row">
              <div class="filter-buttons column small-4"><a class="button expanded" [ngClass]="{selected: facet.min_bedrooms === 1}" (click)="facet.min_bedrooms = 1">One Bedroom +</a></div>
              <div class="filter-buttons column small-4"><a class="button expanded" [ngClass]="{selected: facet.min_bedrooms === 2}" (click)="facet.min_bedrooms = 2">Two Bedrooms +</a></div>
              <div class="filter-buttons column small-4"><a class="button expanded" [ngClass]="{selected: facet.min_bedrooms === 3}" (click)="facet.min_bedrooms = 3">Three Bedrooms +</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-2 columns">
          <p class="amenity-type">Rentals Near:</p>
        </div>
        <div class="small-12 large-10 columns">
          <div class="row small-up-1 medium-up-2 large-up-3 js-locations-facet">
            <div *ngFor="let location of locations$ | async" class="column">
              <label class="amenity-checkbox" [title]="location">
                <div>
                  <input [id]="location" type="checkbox" (change)="toggleLocation(location)" [checked]="facet.locations.indexOf(location) !== -1"/>
                </div>
                <div>
                  <span>{{location}}</span>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-2 columns">
          <p class="amenity-type">Amenities:</p>
        </div>
        <div class="small-12 large-10 columns">
          <div class="row small-up-1 medium-up-2 large-up-3 js-locations-facet">
            <div *ngFor="let amenity of amenities$ | async" class="column">
              <label class="amenity-checkbox" [title]="amenity">
                <div>
                  <input [id]="amenity" type="checkbox" (change)="toggleAmenity(amenity)" [checked]="facet.amenities.indexOf(amenity) !== -1"/>
                </div>
                <div>
                  <span>{{amenity}}</span>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-4 large-offset-4 columns">
          <div class="input-group button-group">
            <button type="button" class="button expanded" (click)="apply()">Apply</button>
            <button type="button" class="button expanded secondary" (click)="toggleShowFilters()">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>