<div class="callout-card height-fix">
	<div class="callout-card-content">
		<i class="fa fa-pencil float-right purple large" (click)="edit.emit(true)" *ngIf="review.is_owned"></i>
		<star-rating [rating]="review.property_rating"></star-rating>
		<h6 class="title">{{review.title}}</h6>

		<blockquote>
			<p>{{review.body}}</p>
			<footer>
				<cite>{{review.displayName}}, tenant for {{review.prettyDuration}}</cite>
			</footer>
		</blockquote>

		<div class="callout warning" *ngIf="!review.approved_at">
			<h5>Pending Review</h5>

			<p>
				Thank you for reviewing this property. If everything looks good, our team will approve it shortly and the review
				will become visible to everyone. Contact the Roomhere team if you have any questions.
			</p>
		</div>
	</div>
</div>