i.large {
    font-size: 3.2em;
}

textarea {
    height: 250px;
}

.ticker-icon-combo {
    position: relative;

    i:before {
        position: absolute;
        bottom: 5px;
        left: 0;
    }

    label {
        padding-left: 80px;
    }
}

@media (max-width: 480px) {
    i.large {
        font-size: 2em;
    }

    .ticker-icon-combo label {
        padding-left: 45px;
    }
}

.padding {
    padding: 10px 0;
}