<div class="input-group" *ngIf="isBrowser">
  <kendo-combobox [data]="properties" [textField]="'address1'" [valueField]="'id'" [value]="property" [filterable]="true" [suggest]="true"
    (filterChange)="handleFilter($event)" (selectionChange)="propertyPicked.emit($event)">
    <template itemTemplate let-dataItem>
      <div class="property-wrapper">
        <img [src]="dataItem.images[0].url" alt="" class="image" />
        <h5 class="address">{{ dataItem.address1 }}</h5>
      </div>
    </template>
  </kendo-combobox>
  <div class="input-group-button">
    <button type="submit" class="fa fa-search"></button>
  </div>
</div>