<div class="image-wrapper">
    <a target="_blank" [href]="propertyUrl">
      <div class="chrome-wrap-fix">
        <div class="responsive-image">
          <img *ngIf="property?.images[0]?.url" class="property-image" [src]="property.images[0].url">
        </div>
      </div>
      <div class="small-3 text-left column no-padding">
        <p class="js-price">{{ property.price | currency : "USD" : true : "1.0-0" }}/mon.</p>
      </div>
      <div class="small-5 text-left column no-padding">
          <p class="addy js-address-line-1">{{property.address1}}</p>
          <p class="addy js-address-line-2" *ngIf="property.address2">{{property.address2}}</p>
      </div>
      <div class="small-4 text-left column no-padding">
        <p class="js-description">{{property.bedrooms}} <i class="fa fa-bed"></i> {{property.bathrooms}} <i class="icon-shower"></i></p>
      </div>
    </a>
</div>