<div class="image-wrapper overlay-fade-in">
    <a target="_blank" [href]="propertyUrl">
      <div class="chrome-wrap-fix">
        <div class="responsive-image">
          <img *ngIf="property?.images[0]?.url" class="property-image" [src]="property.images[0].url">
        </div>
      </div>

      <div class="image-overlay-content">
          <h2 class="js-description">
            <div>
            <h5 class="js-address-line-1">{{property.address1}}</h5>
            <h5 class="js-address-line-2" *ngIf="property.address2">{{property.address2}}</h5>
            <p>{{property.bedrooms}} <i class="fa fa-bed"></i> {{property.bathrooms}} <i class="icon-shower"></i> {{ property.price | currency : "USD" : true : "1.0-0" }}/month</p></div>
          </h2>
      </div>
      
    </a>
  </div>
