<div class="preview-div">
        <div class="responsive-image">
          <img *ngIf="property?.images[0]?.url" class="property-image object-fit_fill" [src]="property.images[0].url">
        </div>
      <div class="row collapse">
        <div class="small-12 text-left columns">
          <h6 class="js-description">{{property.bedrooms}} Bed {{property.bathrooms}} Bath {{ property.price | currency : "USD" : true : "1.0-0" }}/month</h6>
        </div>
        <div class="small-12 text-left columns">
          <h6 class="js-description">{{property.address1}}</h6>
          <h6 class="js-description" *ngIf="property.address2">{{property.address2}}</h6>
        </div>
      </div>
    </a>
</div>