<div>
  <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="large" style="display: block;">
    <button class="menu-icon" type="button" data-toggle=""></button>
    <div class="title-bar-title">Menu</div>
  </div>

  <div class="top-bar" id="main-menu" style="display: none;">
    <div class="top-bar-left">
      <ul class="menu nohover vertical large-horizontal dropdown" data-responsive-menu="drilldown medium-dropdown" role="menubar"
        data-dropdown-menu="mfvu74-dropdown-menu">
        <li role="menuitem">
          <a class="aPadTop" [routerLink]="['']"><img src="/assets/images/logo_hor_dpPurp_205x58.png" alt="Roomhere" /></a>
        </li>
      </ul>
    </div>

    <div class="top-bar-right margRight">
      <ul class="menu vertical large-horizontal dropdown" data-responsive-menu="medium-dropdown" role="menubar" data-dropdown-menu="pqvvce-dropdown-menu">
        <li role="menuitem">
          <a class="aPadTop" [routerLinkActive]="['active', 'router-link-active']" [routerLink]="['']">Home</a>
        </li>
        <li role="menuitem" *ngIf="!(hasAuth$ | async)">
          <a class="aPadTop" data-open="RegisterModal">
            Create an Account</a>
        </li>
        <li role="menuitem" *ngIf="!(hasAuth$ | async)">
          <a class="aPadTop" data-open="LoginModal">Login</a>
        </li>
        <li role="meduitem" *ngIf="hasAuth$ | async">
          <a class="aPadTop" (click)="logout()">Log Out</a>
        </li>
        <li role="menuitem">
          <a class="aPadTop" *ngIf="hasAuth$ | async" [routerLinkActive]="['active', 'router-link-active']" [routerLink]="['settings']">Settings</a>
        </li>
        <li role="menuitem" class="show-for-small-only">
          <a [routerLink]="['/faq']">FAQ</a>
        </li>
        <li role="menuitem" class="show-for-small-only">
          <a href="//blog.roomhere.io">Blog</a>
        </li>
        <li role="menuitem" class="show-for-small-only">
          <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
        </li>
        <li role="menuitem" class="show-for-small-only">
          <a href="tel:5732902363">(573) 290-2363</a>
        </li>
        <li role="menuitem" class="show-for-small-only">
          <a href="mailto:support@roomhere.io">support@roomhere.io</a>
        </li>
      </ul>
    </div>
  </div>

  <main>
    <router-outlet></router-outlet>
  </main>
  <div hidden>
    <register class="reveal small" id="RegisterModal" data-reveal></register>
    <login class="reveal small" id="LoginModal" data-reveal></login>
    <forgot-password class="reveal small" id="ForgotPasswordModal" data-reveal></forgot-password>
    <reset-password class="reveal small" id="ResetPasswordModal" data-reveal></reset-password>
    <settings *ngIf="hasAuth$ | async" class="reveal" id="SettingsModal" data-reveal></settings>
  </div>
  <sticky-footer></sticky-footer>
