<div class="row flex-row full-width">
  <div class="small-12 medium-4 columns purp text-center">
    <a class="active router-link-active" [routerLink]="['']"><img src="/images/white_logo_transparent_background.png" /></a><br>
    <h1>404:</h1>
    <h3>File Not Found</h3>
    <p class="404">We're sorry, we couldn't find what you were looking for.
      <br />
      <br /> You can start over on the <a class="active router-link-active" [routerLink]="['']">home</a> page.</p>
    <a class="button hollow warning large active router-link-active" [routerLink]="['']" tabindex="0">Return Home</a>
  </div>
  <div class="small-12 medium-8 columns" id="kermit">
    <p>You Say You're A Hacker...</p>
    <p class="marg-top">...But That's Really None Of My Business.</p>
  </div>
</div>