section {
    background:#fff;
    margin-bottom:40px;
    h6{
        line-height: 1rem;
    }
    .has-tip{
        display:inline !important;
    }
}
.expanded{
    width: 100% !important;
}
.button.hollow.secondary:focus, .button.hollow.secondary:hover {
    border-color: #3c3c3c !important;
    background-color:#fff !important;
    color: #3c3c3c !important;
}

