<div>
  <div class="row">
    <div class="medium-10 medium-push-1 columns">
      <div class="signup-panel">
        <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
          <div class="form-group row collapse">
            <div class="small-2 columns">
              <span class="prefix"><i class="fa fa-envelope"></i></span>
            </div>
            <div class="small-10  columns">
              <input type="email" placeholder="email" formControlName="email" class="form-control" id="email">
            </div>
            <control-messages [control]="settingsForm.controls.email" class="alert">{{getEmailOrPhoneRequiredMessage()}}</control-messages>
          </div>
          <div class="form-group row collapse">
            <div class="small-2 columns">
              <span class="prefix"><i class="fa fa-phone"></i></span>
            </div>
            <div class="small-10  columns">
              <input type="tel" placeholder="phone number" formControlName="phone" class="form-control" id="phone">
            </div>
            <control-messages [control]="settingsForm.controls.phone" class="alert">{{getEmailOrPhoneRequiredMessage()}}</control-messages>
          </div>
          <div class="form-group row collapse" *ngFor="let license of licenses">
            <div class="small-2 columns">
              <span class="prefix"><i class="fa fa-hashtag"></i></span>
            </div>
            <div class="small-10  columns">
              <input type="text" placeholder="License Number" class="form-control" [attr.disabled]="license.editable ? null : true" [(ngModel)]="license.value"
                [ngModelOptions]="{standalone: true}" />
            </div>
          </div>
          <div class="form-group row collapse">
            <div class="small-12 text-center columns">
              <button type="button" class="secondary hollow expanded button" (click)="addLicense()" [attr.disabled]="canAddLicense() ? null : true">
                Add Another License Number To Your Account
                </button>
            </div>
          </div>


          <p class="text-center">
            <button type="submit" class="button large" [attr.disabled]="!settingsForm.valid || getEmailOrPhoneRequiredMessage() ? true : null">submit</button>
          </p>
          <div *ngIf="!success"><span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Please enter the contact information you would like to show to potential renters. You can leave the email or phone blank
            if you prefer one method over the other.">Help?</span></div>
          <div><span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Your license number is your identification number from the city of Cape Girardeau. We use this number to grant you access to
            your properties on Roomhere.">License Number Help?</span></div>
        </form>
        <div *ngIf="success" class="callout success">
          <h3>Success!</h3>
          <p>
            Your settings have been updated.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>