<section id="one">
  <div class="row full-width left-margin-fix">
    <div class="medium-7 small-12 columns">
      <section id="scrolldiv">
        <div class="row marg20top">

          <div class="large-12 columns">
            <p>Price Range</p>
          </div>

          <property-slider [facet]="facet" (applyFacet)="applyFacet($event)"></property-slider>

          <div class="large-12 columns">
            <property-filters [(showFilters)]="showFilters" [facet]="facet" (applyFacet)="applyFacet($event)"></property-filters>
          </div>

        </div>

        <section [class.hide]="showFilters">
          <div class="row">
            <div class="small-12 columns">
              <div class="row">
                <div id="properties-list" class=" small-up-1 medium-up-2">
                  <div *ngFor="let property of properties$ | async">
                    <property-preview [property]="property"></property-preview>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pag">
            <ul class="pagination text-center" role="navigation" aria-label="Pagination">
              <li class="pagination-previous disabled">Previous</li>
              <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
              <li><a href="#" aria-label="Page 2">2</a></li>
              <li><a href="#" aria-label="Page 3">3</a></li>
              <li><a href="#" aria-label="Page 4">4</a></li>
              <li class="ellipsis"></li>
              <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
            </ul>
            </div>
            </section>
            </section>
          </div>
          <div class="large-5 medium-5 hide-for-small-only columns">
            <property-map *ngIf="mapOptions" [properties]="properties$ | async" [mapOptions]="mapOptions"></property-map>
          </div>
  </div>
</section>

<!--<script
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBC6bfH0lLAZQeSgFFuB-TA5-iDimdQ7DQ">
</script>
<script src='//cdn.rawgit.com/googlemaps/js-rich-marker/gh-pages/src/richmarker.js' type='text/javascript'></script>
<script>
 $(document).ready(function() {
   Facetr.map = initMap();
   Facetr.initProperties();
   Facetr.initFacets();
 });

 function initMap() {
   var map = new google.maps.Map(document.getElementById('map'), {
     center: { lat: 37.3059, lng: -89.5181 },
     zoom: 12
   });
   return map;
 }

 function renderedProperty() {
   return '<%= escape_javascript(render partial: "properties/card") %>';
 }
 </script>-->