.hero{
    padding-top: 80px;
    background-color: #212227;
    background: url(/images/pages/landing-pages/rent_hero.jpg) no-repeat center top;
    h1{
        font:700 36.78px / 43px Lato;
        color: #fff;
        span{
            color: #33cc66;
        }
    }
    h3{
        span{
            color: #33cc66;
        }
    }
}
.showcase{
  position: relative;
  
  overflow: hidden;

  &__stripe {
    position: absolute;
    border-right: solid 400px #44254A;
    height: 200%;
    width: 100%;
    transform: skewX(-50deg);
    z-index: 0;
    right: 100%;
  }

  .container {
    position: relative;
    z-index: 1;
    padding-top: 50px;

  }

  h2{
      font-size: 3.125 rem;
  }
  ul{
      margin-top: 50px;
      list-style: none;
  }
  li{
      font-size: 21px;
      font-weight: 600;
  }
  .fa{
      color: #33cc66;
      margin-right: 10px;
  }
  .showcase-image{
      margin-top: 50px;
  }
  #rent-due-image{
    margin-top: 100px;
}
  #rent-due-text{
    margin-top:80px;
    span{
            color: #33cc66;
        }
    }
}

.green{
    background-color:#33cc66 !important;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .row-image{
            margin:0px auto;
            max-height: 400px;
        }
    #main-header {
        height: auto;
      .inner-content {
        margin-top: 20px;
      }
    }
    .subheader {
        font: italic 26px / 28px Lato;
        font-weight: normal;
    }
    .medBtn{
        margin-top: 25px;
    }
    #feature-list li {
    font: italic 700 16px / 17px Lato;
    }
    .yellborderleft, .yellowborderright {
        padding-top:5px;
    }
}
@media screen and (max-width: 39.9375em) {
    .showcase{
        &__stripe {
        position: absolute;
        border-right: solid 200px #44254A;
        height: 100%;
        width: 100%;
        transform: skewX(-50deg);
        z-index: 0;
        right: 100%;
  }
        
        ul{
            margin-top: 10px;
        }
        #rent-due-text{
            margin-top: 20px;
    }
    }
    .margContent{
        margin-top:35px;
    }
    .container{
        max-width:98% !important;
    }
  .subheader {
    font: italic 21px / 23px Lato;
    font-weight: normal;
   }
    #center {
        margin: 0px auto;
    }
    .column:last-child:not(:first-child),
    .columns:last-child:not(:first-child),
    .columns:last-child:not(:first-child) {
        float: none !important;
    }
    #main-header {
        background: #212227;
    }
    #main-header h2 span{
      font-size: 2rem;
    }
    #main-header .inner-content .button {
        margin-top: 50px;
    }
    #feature-list {
        padding-top: 23px;
        padding-bottom: 23px;
    }
    #feature-list li {
    font: italic 700 16px / 27px Lato;
    }
    .yellborderleft, .yellowborderright {
        border-left: none;
        border-right:none;
        padding-left: 0;
        padding-top:5px;
    }
    section {
        h2 {
            font: 700 26px / 28px Lato;
            margin: 0px !important;
        }
        h3 {
            font-family: Lato;
            font-weight: 700;
        }
        h4 {
            font-style: italic;
            font-family: Lato;
            line-height: 34.74px;
        }
    }
}
