.wrapper {
  position: relative;
}
.amenity-checkbox {
  cursor: pointer;
  display: table;
  width: 100%;
}
.amenity-checkbox>div {
  display: table-cell;
  vertical-align: top;
}
.amenity-checkbox input {
  margin-right: 15px;
}
.amenity-checkbox>div:last-child {
  width: 99%;
  text-align: left;
}
.amenity-type {
  line-height: 1.6;
  font-size: 90%;
}
.dropdown-pane {
  overflow-y: scroll;
}
.fa-sliders{
  font-size: 1.6rem !important;
  color:#44254A;
}
.fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
