<div class="wrapper">
  <span (click)="toggleShowFilters()" class="hide-for-small-only">Advanced</span>
  <span (click)="toggleShowFilters()" class="show-for-small-only"><i class="fa fa-sliders rotate-90"></i></span>
  <div *ngIf="showFilters" class="dropdown-pane large">
    <button class="close-button" aria-label="Close" type="button" (click)="toggleShowFilters()">
      <span aria-hidden="true">&times;</span>
    </button>
    <form class="ext-head-room">
      <div class="row">
        <div class="small-12 large-2 columns">
          <p class="amenity-type">Rental Type:</p>
        </div>
        <div class="small-12 large-10 columns">
          <div class="input-group button-group secondary">
            <div class="row">
              <div class="column medium-up-2 small-up-1">
                <div class="filter-buttons column" *ngFor="let type of types$ | async">
                  <a class="button expanded" [ngClass]="{selected: facet.types.indexOf(type) !== -1}" (click)="toggleType(type)">{{type}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-2 columns">
          <p class="amenity-type">Rentals Near:</p>
        </div>
        <div class="small-12 large-10 columns">
          <div class="row small-up-1 medium-up-2 large-up-3 js-locations-facet">
            <div *ngFor="let location of locations$ | async" class="column">
              <span class="switch tiny"> <input [id]="location" type="checkbox" class="switch-input" (change)="toggleLocation(location)" [checked]="facet.locations.indexOf(location) !== -1"/> <label [attr.for]="location" class="switch-paddle"> </label> </span> <span class="amen-label amenity-size">{{location}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-2 columns">
          <p class="amenity-type">Amenities:</p>
        </div>
        <div class="small-12 large-10 columns">
          <property-amenities [(amenities)]="amenities" [isEditing]="true"></property-amenities>
        </div>
      </div>
      <div class="row">
        <div class="large-4 large-offset-4 columns">
          <div class="input-group button-group">
            <button type="button" class="button expanded" (click)="apply()">Apply</button>
            <button type="button" class="button expanded secondary" (click)="toggleShowFilters()">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>