.button.hollow.secondary:focus,
.button.hollow.secondary:hover {
    border-color: #3c3c3c !important;
    background-color: #fff !important;
    color: #3c3c3c !important;
}
.container{
    max-width: 1300px !important;
    margin:0px auto;
}
.padtop{
    padding-top:20px;
}
.padbtm{
    padding-bottom: 20px;
}
.margContent{
    margin-top:75px;
    margin-bottom: 35px;
}
#main-header h2 {
    font-family: Lato;
    font-weight: 500;
}
#main-header h2 span {
    font-stretch:  italic;
    font-weight:  500;
    font-family: Lato;
}
.cursive {
    font-family: 'Grand Hotel', cursive !important;
    font-weight: 500;
    font-size: 3rem;
}
.subheader {
    font: italic 33.78px / 36px Lato;
    font-weight: normal;
}
#main-header .inner-content {
    padding-top: 30px;
}
#main-header .inner-content .button {
    margin-top: 35px;
}
#feature-list {
    padding-top: 43px;
    padding-bottom: 43px;
}
#feature-list li {
    font: italic 700 16px / 36px Lato;
}
.yellborderleft {
    border-left: #f9d950 5px solid;
    padding-left: 25px;
    font: 400 19.78px / 22.74px Lato;
}
.yellborderright {
    border-right: #f9d950 5px solid;
    padding-right: 25px;
    margin-bottom: 43px !important;
    font: 400 19.78px / 22.74px Lato;
}
#fiveContent .button {
    margin-top: 13px;
}

section {
   h2 {
        font: 700 36.78px / 43px Lato;
        margin: 0px !important;
    }
    h3 {
        font-family: Lato;
        font-weight: 700;
    }
    p {
        font: 400 19.78px / 22.74px Lato;
    }
    h4 {
        font-style: italic;
        font-family: Lato;
        line-height: 34.74px;
    }
    .max-lrg{
        max-height:475px;
    }
}
// Rent Landing Page Styles
.hero{
    padding-top: 80px;
    background: url(/images/pages/landing-pages/rent_hero.jpg) no-repeat center top;
    h1{
        font:700 36.78px / 43px Lato;
        color: #fff;
        span{
            color: #33cc66;
        }
    }
}
.showcase{
    padding-top: 50px;
    background:url(/images/pages/landing-pages/rent_showcase.jpg)no-repeat center top;
    h2{
        font-size: 50px;
    }
    ul{
        margin-top: 50px;
        list-style: none;
    }
    li{
        font-size: 21px;
        font-weight: 600;
    }
    .fa{
        color: #33cc66;
        margin-right: 10px;
    }
    .showcase-image{
        margin-top: 200px;
    }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    #nav {
        height: auto;
    }
    #top img {
        margin-top: 10px;
    }
    .row-image{
            margin:0px auto;
            max-height: 400px;
        }
    #main-header {
        height: auto;
        background: none;
      .inner-content {
        margin-top: 20px;
      }
    }
    .subheader {
        font: italic 26px / 28px Lato;
        font-weight: normal;
    }
    .medBtn{
        margin-top: 25px;
    }
    #feature-list li {
    font: italic 700 16px / 17px Lato;
    }
    .yellborderleft, .yellowborderright {
        padding-top:5px;
    }
}
@media screen and (max-width: 39.9375em) {
    .margContent{
        margin-top:35px;
    }
    .container{
        max-width:98% !important;
    }
  .subheader {
    font: italic 21px / 23px Lato;
    font-weight: normal;
   }
    #center {
        margin: 0px auto;
    }
    .column:last-child:not(:first-child),
    .columns:last-child:not(:first-child),
    .columns:last-child:not(:first-child) {
        float: none !important;
    }
    #main-header h2 span{
      font-size: 2rem;
    }
    #main-header .inner-content .button {
        margin-top: 50px;
    }
    #feature-list {
        padding-top: 23px;
        padding-bottom: 23px;
    }
    #feature-list li {
    font: italic 700 16px / 27px Lato;
    }
    .yellborderleft, .yellowborderright {
        border-left: none;
        border-right:none;
        padding-left: 0;
        padding-top:5px;
    }
    section {
        h2 {
            font: 700 26px / 28px Lato;
            margin: 0px !important;
        }
        h3 {
            font-family: Lato;
            font-weight: 700;
        }
        h4 {
            font-style: italic;
            font-family: Lato;
            line-height: 34.74px;
        }
    }
}