.top-bar {
  position: relative;
  z-index: 10;
}
.is-dropdown-submenu {
    right: 100% !important;
    left: initial !important;
}
.title-bar-title{
  font-family: 'Grand Hotel', cursive !important;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 400 !important;
}
.has-form{
  padding-left: 25px;
  padding-top: 15px;
}
