img {
  width: 200px;
  height: 56px;
}

.tagline {
  text-transform: uppercase;
  color: #44254a; // Todo: hook this up to some variable
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  font-size: .5em;
}

.wrapper {
  display: block;
  position: relative;
  height: 56px;
}
@media screen and (max-width: 39.9375em) {
 .tagline{
    position: absolute;
    bottom: 0;
    right: 42%;
    text-align: right;
    }
}
@media screen and (max-width: 414px) {
    .tagline{
        right:50%;}
}
@media screen and (max-width: 376px) {
    .tagline{
        right:45%;
    }
}
@media screen and (max-width: 360px) {
    .tagline{
        right:42%;
    }
}
@media screen and (max-width: 320px) {
    .tagline{
        right:35%;
    }
}