input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.icon-minus,
.icon-plus {
    font-size: .8rem;
    padding: 2px;
}

.icon-plus:hover {
    color: #DAA520;
}

.icon-minus:hover {
    color: #DAA520;
}

input {
    display: inline;
    border: none;
    box-shadow: none;
    background: #f5f5f5;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
}

.number-ticker {
    border: 2px solid #EEE;
}

button:focus,
input:focus {
    outline: none;
}

button {
    transform: translateY(50%);
}

.purp {
    background: #44254a;
    color: #fff;
}

.purp:hover {
    background: #391940;
    color: #fff;
}

@media (max-width: 480px) {
    .number-ticker {
        border: 1px solid #EEE !important;
    }
}