$primary: #446CB3;
$secondary: #f2f2f2;
$info: #89c4f4;
$alert: #F22613;
$success: #87D37C;
$warning: #F89406;
$bg: #fff;
$font-color: #333;

.callout-card {
    max-width: 1000px;
    background: $bg;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
    overflow: hidden;
    .callout-card-content {
        padding: 0.5rem 1.5rem 0.875rem;
    }
    &.radius {
        border-radius: 0.6rem;
    }
    .callout-card-content {
        padding: 20px;
        background-color: $bg;
        p {
            margin-left: 20px;
        }
        li {
            margin-left: 40px;
        }
    }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .callout-card {
        margin: 10px;
        .callout-card-content {
            padding: 6px;
            p {
                margin-left: 7px;
            }
            li {
                margin-left: 14px;
            }
        }
    }
}
@media screen and (max-width: 39.9375em) {
    .callout-card {
        margin: 5px;
        .callout-card-content {
            padding: 4px;
            p {
                margin-left: 5px;
            }
            li {
                margin-left: 10px;
            }
        }
    }
}