/* Variables */

// Adjust width accordingly (use even #'s)
$logo-width: 118px;
// Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px;
// Leave alone
$logo-margin: - ($logo-width / 2);

.left-margin-fix {
  margin-left: auto !important;
}

.head-room {
  margin-top: 1em !important;
}

.ext-head-room {
  margin-top: 2em !important;
}

.menu > li > a:hover {
  background-color: #2199e8;
  color: white !important;
}

/* Small Navigation */
.logo-small {
  float: right;
}

.title-bar {
  padding: 0 .5rem;
}

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px;
}
body h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif !important;
}
.top-bar, .top-bar ul {
    background-color: #fff !important;
}
.top-bar a:visited {
    color: #2199e8 !important;
}


/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {
    //firstdesc
    #firstdesc{
        h3{
        margin-bottom:35px;
            }
    }


    //labels
    label{
        font-size: 1rem !important;
    }
    .full-width{
        max-width: none !important;
    }
    .js-amenities-facet label, .js-locations-facet label {
      font-size: .95rem !important;
    }
  .logo-wrapper {
    position: relative;

    .logo {
      width: $logo-width;
      height:  92px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: -6px;
      margin-left: $logo-margin;
    }
  }

  // Right part
  .top-bar-right {
    width: 50%;
    padding-left: $logo-padding;

    ul {
      float: left;
    }
  }

  // Left part
  .top-bar-left {
    width:  50%;
    padding-right: $logo-padding;

    ul {
      float: right;
    }
  }
    #one{

    }
    #map{
        height:1000px;
    }
   
    //cirlce pagination
    // Color used for medium gray UI items within Foundation.
$medium-gray: #cacaca;

.pagination li {
  border: 1px solid $medium-gray;
  border-radius: 50%;
}

.pagination a {
  border-radius: 50%;
}
}
