/* Resets and Global Helpers */
.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.reveal-overlay {
  text-align: center;
}

.reveal {
  text-align: initial;
}

.fa.large {
  font-size: 1.5em;
}

/* Hot fix */
body {
  overflow: initial;
}

button[disabled], button[disabled]:hover {
  opacity: 0.65;
}

/* Move to property-map component */
.map-marker {
  background-color: #DAA520 !important;
  border-bottom: none !important;
  padding: .25rem !important;
  border-radius: 4px !important;
  color: white;
  font-size: 80%;
  position: absolute;
  z-index: 10;
  top: calc(100% + 0.6495rem);
  max-width: 10rem !important;
  cursor: pointer !important;
  font-weight: bold;
  height: 25px;
  width: 40px;
  text-align: center;
}

.map-marker:before {
  border-color: #DAA520 transparent transparent !important;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: inset 0.35rem;
  border-top-style: solid;
  border-bottom-width: 0;
  top: 100%;
  bottom: auto;
}



.top-bar-right {
  margin-top: 8px;
}

.head-room {
  margin-top: 1em;
}

.ext-head-room {
  margin-top: 2em;
}

.input-group > :first-child {
  border-radius: 0;
}

/* Hover css */
.menu>li>a:hover {
    background-color: #391940;
    color: white !important;
    border-radius: 4px;
  }

.dropdown-pane {
    visibility: visible;
    overflow-y: hidden !important;
    position: fixed;
    top: 74px;
    left: 15px;
    width: 58% !important;
    @include breakpoint(small only) {
      width: 97% !important;
      top: 145px;
      left: 9px;
      overflow-y: scroll !important;
    }
    bottom: 15px;
}

#scrolldiv {
  overflow: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 74px;
  left: 0;
  width: 60%;
  padding-left: 30px;
  padding-right: 30px;
  bottom: 0;
  max-width: none !important;
  @include breakpoint(small only) {
    width: 100% !important;
    top: 145px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll !important;
  }
}

#welcome-map {
  position: fixed !important;
  right: 0;
  top: 74px;
  bottom: 0;
  width: 40%;
  overflow: hidden;
  background-color: rgb(229, 227, 223);
}

#welcome-map > div:first-child {
  height: 100%;
}

/* Alerts Control-Messages */
control-messages{
    color:red;
}
