<div class="container">
  <div class="row">
    <div class="small-centered medium-11 large-10 columns">
      <h2>My Properties</h2>

      <div *ngIf="(properties$ | async)?.length > 5" class="search-properties">
        <div class="row">
          <div class="small-12 medium-6 large-5 column">
            <div class="input-group">
              <span class="input-group-label"><i class="icon-search"></i></span>
              <input class="input-group-field" type="text" placeholder="Find Your Property" [(ngModel)]="query">
            </div>
          </div>
        </div>
      </div>

      <property-accordion *ngIf="(properties$ | async)?.length" [properties]="properties$ | async | simpleSearch:query:'address1'"
        (updateProperty)="updateProperty($event)">
      </property-accordion>
      <div class="callout ad" *ngIf="(properties$ | async)?.length === 0">
        <h4>No properties found</h4>
        <p>
          We're sorry, but we can't find any properties for you.
        </p>
      </div>
      <div *ngIf="!(properties$ | async)">
        <h4 class="inline">Loading Properties...</h4>
        <h1 class="inline">
          <i class="fa icon-spinner fa-spin"></i>
        </h1>
      </div>
      <div class="callout warning" *ngIf="showUnverifiedAd">
        <h3>Account is Pending Verification</h3>

        <p>
          Before you can make any changes, we'd like to personally welcome you to Roomhere and verify your account details. We will
          reach out to you shortly (usually within the hour) with the contact details your provided.
        </p>

        <p>
          We understand that properly advertising properties is essential to finding quality tenants for your rentals. We take this
          precaution to secure your account from any unauthorized, or even malicious advertising.
        </p>
      </div>

      <div class="callout ad" *ngIf="showPicturesAd">
        <h3>Do you have pictures for your properties?</h3>

        <p>
          To help renters find their new home, they need help envisioning what it could look like. Properties will gather more attention
          online if they have plenty of sweet images to paint them in a good light.
        </p>
        <p>
          Do you need some help taking professional pictures of your property? We believe every property deserves to shine on Roomhere,
          so we'll send a team member to your property to take <strong>professional photos for your listing for free</strong>.
        </p>
        <p>
          Talk to us at <a href="mailto:pictures@roomhere.io">pictures@Roomhere.io</a> or <a href="tel:5732902363">(573) 290-2363</a>          and we'll get you set up!
        </p>
      </div>
    </div>
  </div>
</div>